seaborn
altair
jupyter
plotly
plotnine
rpy2
pandas
scipy
scikit-learn
wordcloud
cufflinks
kaleido
sqlalchemy_utils
ipywidgets_jsonschema
ipyfilechooser
appdirs
markdown
python-dotenv
groq
notebook-intelligence
